@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	.scrollbar::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: #d8d8d8d7;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: #c1c1c1;
		border-radius: 100vh;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: #9c9c9c;
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.hide-scrollbar::-webkit-scrollbar-track {
		display: none;
	}

	.hide-scrollbar::-webkit-scrollbar-thumb {
		display: none;
	}

	.hide-scrollbar::-webkit-scrollbar-thumb:hover {
		display: none;
	}
}

@layer base {
	@font-face {
		font-family: 'Brandon-Grotesque';
		src: url('/fonts/Brandon-Grotesque-Font-Family/Brandon_bld.otf');
		font-weight: 700;
		font-style: normal;
	}
	@font-face {
		font-family: 'Brandon-Grotesque';
		src: url('/fonts/Brandon-Grotesque-Font-Family/Brandon_bld_it.otf');
		font-weight: 700;
		font-style: italic;
	}
	@font-face {
		font-family: 'Brandon-Grotesque';
		src: url('/fonts/Brandon-Grotesque-Font-Family/Brandon_blk.otf');
		font-weight: 900;
		font-style: normal;
	}
	@font-face {
		font-family: 'Brandon-Grotesque';
		src: url('/fonts/Brandon-Grotesque-Font-Family/Brandon_blk_it.otf');
		font-weight: 900;
		font-style: italic;
	}
	@font-face {
		font-family: 'Brandon-Grotesque';
		src: url('/fonts/Brandon-Grotesque-Font-Family/Brandon_light.otf');
		font-weight: 300;
		font-style: normal;
	}
	@font-face {
		font-family: 'Brandon-Grotesque';
		src: url('/fonts/Brandon-Grotesque-Font-Family/Brandon_light_it.otf');
		font-weight: 300;
		font-style: italic;
	}
	@font-face {
		font-family: 'Brandon-Grotesque';
		src: url('/fonts/Brandon-Grotesque-Font-Family/Brandon_med.otf');
		font-weight: 500;
		font-style: normal;
	}
	@font-face {
		font-family: 'Brandon-Grotesque';
		src: url('/fonts/Brandon-Grotesque-Font-Family/Brandon_med_it.otf');
		font-weight: 500;
		font-style: italic;
	}
	@font-face {
		font-family: 'Brandon-Grotesque';
		src: url('/fonts/Brandon-Grotesque-Font-Family/Brandon_reg.otf');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'Brandon-Grotesque';
		src: url('/fonts/Brandon-Grotesque-Font-Family/Brandon_reg_it.otf');
		font-weight: 400;
		font-style: italic;
	}
	@font-face {
		font-family: 'Brandon-Grotesque';
		src: url('/fonts/Brandon-Grotesque-Font-Family/Brandon_thin.otf');
		font-weight: 100;
		font-style: normal;
	}
	@font-face {
		font-family: 'Brandon-Grotesque';
		src: url('/fonts/Brandon-Grotesque-Font-Family/Brandon_thin_it.otf');
		font-weight: 100;
		font-style: italic;
	}
}
